.submit-form-button {
  margin-inline: auto;
  margin-block: 1em;
  width: fit-content;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 4%;
  padding: 0.5em 1em;
  border: solid var(--accent-color);
}

.submit-form-button:hover {
  cursor: pointer;
  background-color: var(--light-color);
  color: var(--accent-color);
}

.admin-event-page-container h1,
.response-message,
.create-event-page-container h1 {
  text-align: center;
}

.updated-event-overlay {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.479);
}

.updated-event-content {
  border-radius: 12px;
  padding: 3em 5em;
  width: fit-content;
  margin-inline: auto;
  background-color: var(--light-color);
  position: relative;
  top: 40%;
}

.error-message-container {
  width: fit-content;
  margin: auto;
  text-align: center;
}
