.events-page-container {
}

.events-content-container {
  font-size: 2.5;
  padding: 2% 5%;
}

.image-container {
  background-image: url("../../img/event1.jpg");
  background-position: 70% 55%;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
