.head-line {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  padding-bottom: 3em;
}

.event-information {
  border: 3.5px solid var(--accent-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 250px;
  height: fit-content;
  padding: 0.75em 1em 1em 1em;
}

.head-line h1 {
  padding-right: 1em;
}
.head-line h3 {
  margin-top: auto;
  color: var(--accent-color);
}

.event-view-content-container {
  padding: 5% 7%;
}

.event-view-content-container h1 {
  font-size: 2.5rem;
}

.event-information-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

.event-view-right-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  flex: 1;
  min-width: 300px;
}

.event-description {
  max-width: 70ch;
}

.button-container {
  text-align: center;
}
.button-container p {
  padding-bottom: 1em;
}

.event-button {
  margin-inline: auto;
  background-color: var(--light-color);
  color: var(--accent-color);
  border: solid var(--accent-color);
  border-radius: 7px;
  padding: 0.25em 0.5em;
  width: fit-content;
}

.event-button:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
  cursor: pointer;
}
