.head-line {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  padding-bottom: 3em;
}

.event-information {
  border: 3.5px solid var(--accent-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 250px;
  height: fit-content;
  padding: 0.75em 1em 1em 1em;
}

.head-line h1 {
  padding-right: 1em;
}
.head-line h3 {
  margin-top: auto;
  color: var(--accent-color);
}

.event-view-content-container {
  padding: 5% 7%;
}

.event-view-content-container h1 {
  font-size: 2.5rem;
}

.event-information-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

.event-view-right-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  flex: 1;
  min-width: 300px;
  max-width: 30em;
}

.event-description {
  max-width: 70ch;
}

.button-container {
  text-align: center;
}
.button-container p {
  padding-bottom: 1em;
}

.event-button,
.admin-delete-button {
  font-size: 20px;
  margin-inline: auto;
  background-color: var(--light-color);
  color: var(--accent-color);
  border: solid var(--accent-color);
  border-radius: 7px;
  padding: 0.25em 0.5em;
  width: fit-content;
}

.event-button:hover,
.admin-delete-button:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
  cursor: pointer;
}

.delete-overlay {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.468);
}

.modal {
  border-radius: 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-color);
  padding: 1em;
}

.overlay-delete-button {
  font-size: large;
  margin: 1em 1em 0.2em 1em;
  width: 5em;
  padding: 0.5em 0.25em;
}
.overlay-delete-button:hover {
  cursor: pointer;
  background-color: yellow;
}
