.account-page-container {
  margin: auto;
}

.account-page-container h1 {
  font-size: 2.5em;
}

.account-details-container {
  padding-inline: 3em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.account-detail {
  font-size: 1.5em;
}

.edit-button,
.submit-edit-button {
  font-size: 1.12em;
  padding: 0.2em 1.5em;
  width: fit-content;
  background-color: var(--accent-color);
  color: white;
  border: solid var(--accent-color);
  border-radius: 0.5em;
}

.edit-button:hover,
.submit-edit-button:hover {
  background-color: white;
  color: var(--accent-color);
  cursor: pointer;
}

.account-content-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1em 0em;
}

.account-page-image-container {
  height: 85vh;
  max-width: 50em;
  min-width: 40%;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-image: url("../../img/climb1.jpg");
}

.account-page-information-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3em 1em;
}
